<!DOCTYPE HTML>
<!--
	Paradigm Shift by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Radikal* Fund :: Event Grants</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="HandheldFriendly" content="True">
		<meta name="description" content="Der Radikal*Fund ist ein anti-rassistischer, intersektional-queerfeministischer Fund." />
		<meta name="keywords" content="Radikal,Fund,anti-rassistisch, intersektional-queerfeministisch,event grants, grants" />
		<link rel="stylesheet" href="{{asset 'html5up/css/main.css'}}" />

		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<link rel="shortcut icon" href="/favicon.png" type="image/png">
		<link rel="canonical" href="https://radikal.jetzt/fund/event-grants/">
		<meta name="referrer" content="no-referrer-when-downgrade">
		<meta name="robots" content="noindex,nofollow">

		<meta property="og:site_name" content="radikal*">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Radikal*Fund :: Event Grants">
		<meta property="og:description" content="Im Rahmen des Radikal*Fund vergeben wir nicht zurückzahlbare Micro-Grants an Menschen der Vielfalt, um an politischen Veranstaltungen teilnehmen zu können. ">
		<meta property="og:url" content="https://radikal.jetzt/fund/event-grants/">
		<meta property="og:image" content="https://radikal.jetzt{{asset 'html5up/images/fund-event-grants-head.png' }}">
		
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Radikal*Fund :: Event Grants">
		<meta name="twitter:description" content="Im Rahmen des Radikal*Fund vergeben wir nicht zurückzahlbare Micro-Grants an Menschen der Vielfalt, um an politischen Veranstaltungen teilnehmen zu können. ">
		<meta name="twitter:url" content="https://radikal.jetzt/fund/event-grants/">
		<meta name="twitter:image" content="https://radikal.jetzt{{asset 'html5up/images/fund-event-grants-head.png' }}">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:label1" content="Funded by">
		<meta name="twitter:data1" content="Radikal*">
		
    	<link rel="alternate" type="application/rss+xml" title="radikal*" href="https://radikal.jetzt/rss/">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>Event Grants</h1>
							<p>des <a href="/fund/">Radikal*Fund</a></p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="{{asset 'html5up/images/podium-event.jpg' }}" alt="" /></span>
						</div>
					</section>
				<!-- Section -->
					<section class="first">
						<header>
							<h2>Radikal*Fund</h2>
						</header>
						<div class="content">
							<p>Im Rahmen des Radikal*Fund vergeben wir nicht zurückzahlbare Micro-Grants an Menschen der Vielfalt, um an politischen Veranstaltungen teilnehmen zu können. <a href="/fund/">Mehr über den Radikal*Fund</a>.</p>
                            <ul class="feature-icons">
								<li class="icon fa-laptop">Direkt Online beantragen</li>
								<li class="icon fa-calendar">Antwort binnen 10 Werktagen</li>
								<li class="icon fa-gear">Keine Belege nötig</li>
								<li class="icon fa-calculator">Grobe Aufzählung reicht</li>
								<li class="icon fa-money">Bis 200Euro je Antrag</li>
							</ul>
							<ul class="actions">
								<li><a href="https://community.radikal.jetzt/civicrm/grant/transact?id=1" class="button primary large">Jetzt Antrag stellen</a></li>
							</ul>	
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Antragskriterien</h2>
						</header>
						<div class="content">
							<!-- Section -->
								<section>
									<header>
										<h3>Antragsberechtigte</h3>
										<p>Für wen stehen diese Gelder zur Verfügung?</p>
									</header>
                                    <div class="content">
                                        <p>Die Event Grants, wie der Radikal*Fund allgemein, richtet sich an Menschen die in Deutschland aufgrund von Herkunft, Hautfarbe, Geschlecht oder Geschlechtsidentität strukturell-diskriminiert und benachteiligt werden. Dieser Fund richtet sich ins Besondere an:</p>
                                        <ul>
                                            <li>Sinti und Roma</li>
                                            <li>People of Color</li>
                                            <li>Women of Color</li>
                                            <li>von Rassismus und Antisemitismus betroffene Menschen</li>
                                            <li>Frauen & [werdende] Mütter</li>
                                            <li>Menschen nicht-männlicher Geschlechtsidentität</li>
                                        </ul>
                                    </div>
								</section>

								<section>
									<header>
										<h3>Kostenübernahme</h3>
										<p>Welche Kostenübernahme kann beantragt werden?</p>
									</header>
                                    <div class="content">
                                        <ul class="feature-icons">
								            <li class="icon fa-ticket">Teilnahme-Gebühren</li>
                                            <li class="icon fa-train">Fahrtkosten</li>
                                            <li class="icon fa-bed">Übernachtungskosten</li>
                                            <li class="icon fa-coffee">Verpflegungspauschalen</li>
                                        </ul>	
                                    </div>
								</section>

								<section>
									<header>
										<h3>Veranstaltungen</h3>
									</header>
                                    <div class="content">
                                        <p>Events-Grants können für folgende Veranstaltungen beantragt werden</p>
                                        <ul class="">
                                            <li>Politische Bildungsangebote</li>
                                            <li>Politische Konferenzen, Workshops, Diskussionsabende, Foren</li>
                                            <li>Weiterbildungsangebote mit politischem Bezug (z.B. Präsentationscoaching)</li>
                                            <li>Ein- wie auch mehrtägige Veranstaltungen</li>
                                            <li>Online und Fern-Veranstaltungen</li>
                                        </ul>
                                        <p>ausgeschlossen sind:</p>
                                        <ul class="">
                                            <li>Angebote kommerzieller Anbieterinnen</li>
                                            <li>Parteiinterne- und Wahlkampfveranstaltungen</li>
                                            <li>Angebote nationalistischer und ideologisch-rechter Organisationen</li>
                                        </ul>
                                    </div>
								</section>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Jetzt Antrag stellen</h2>
						</header>
						<div class="content">
							<p><strong>Du möchtest zu einer politischen Veranstaltung und kannst Unterstützung gebrauchen?</strong> </p>
							<ul class="actions">
								<li><a href="https://community.radikal.jetzt/civicrm/grant/transact?id=1" class="button primary large">Antrag stellen</a></li>
								<li><a href="mailto:fund@radikal.jetzt" class="button large">in Kontakt treten</a></li>
							</ul>
						</div>
					</section>


					<section>
						<header>
							<h2>Häufige Fragen</h2>
						</header>
						<div class="content">
                            <details><summary>
                                <strong>Kann ich meinen Antrag zwischenspeichern?</strong>
                            </summary><p>
                                Ja, du kannst das Formular über die Funktion "Save as Draft" jederzeit zwischenspeichern und später weiter machen.
                            </p></details>
                            <details><summary>
                                <strong>Kann ich meinen Antrag rückwirkend stellen?</strong>
                            </summary><p>
                                Nein. Der Fund möchte es Menschen ermöglichen an Veranstaltungen teilzunehmen, die es sich sonst nicht leisten könnten. Daher akzeptieren wir nur Anträge zu Veranstaltungen, die vor dem Beginn eingehen.
                            </p></details>
                            <details><summary>
                                <strong>Wie weit im Vorraus muss ich den Antrag stellen?</strong>
                            </summary><p>
                                Du kannst jeder Zeit Deinen Antrag stellen, auch schon Monate im Vorfeld. Da die Antragsbearbeitung bis zu 10 Werktage dauert und dann eine Überweisung weitere 2-3 Werktage in Anspruch nehmen kann, empfehlen wir spätestens 3 Wochen vor dem Zeitpunkt zu dem Du fest wissen musst, ob du gehen wirst, den Antrag einzureichen.
                                </p>
                            </details>
                            <details><summary>
                                <strong>Was passiert, nachdem ich den Antrag gestellt habe?</strong>
                            </summary><p>
                                In einem ersten Schritt werden die Informationen auf die oben genannten Kriterien geprüft. Sollte der Antrag diese Prüfung bestehen, wird dieser dem <a href="/fund/#board">Radikal*Fund Board</a> zum Micro-Crowd-Funding vorgelegt. Jedem Board-Mitglied steht es dann frei, etwas oder alles von dem eigenen Budget für den Antrag dazu zu geben. Wenn das Fundingziel erreicht wurde, gilt der Antrag als bewilligt und das Geld wird umgehend überwiesen.
                            </p><p>
                                Sollte dies nicht binnen der 10 Werktage passieren, tritt die Koordinationsstelle erneut mit dir in Verbindung und bespricht die möglichen Optionen. Wenn es noch etwas Zeit bis zur Veranstaltung ist, kann der Antrag länger offen bleiben oder vielleicht wird gerade der Monatswechsel erreicht und bald steht mehr Geld zur Verfügung. Oder vielleicht ist ja auch die bereits gefundete Summe hilfreich und der Antrag wird teil-finanziert.
                            </p></details>
                            <details><summary>
                                <strong>Was passiert mit meinen Daten?</strong>
                            </summary><p>
                                Natürlich behandeln wir Deine Daten vertraulich und geben diese nicht ohne Dein ausdrückliches Einverständnis weiter. Dein Antrag wird ausschließlich auf direkt von uns gehosteten Servern in Deutschland gespeichert und zu keinem Zeitpunkt an Dritte zur Verarbeitung weiter geben. <a href="/datenschutz/">Mehr dazu findest Du in unserer Datenschutzerklärung</a>
                            </p><p>
                                Solltest Du nach der Auszahlung wünschen, dass wir Deine Informationen löschen, schreibe uns einfach im Anschluss eine E-Mail und wir kümmern uns darum. Bitte bedenke: Aus abrechnungs- und steuerrechtlichen Gründen sind wir gesetzlich verpflichtet bestimmte Information weiter vorzuhalten. 
                            </p></details>
                            <details><summary>
                                <strong>Zählt die Veranstaltung XYZ dazu?</strong>
                            </summary><p>
                                Möglicherweise. Gerne kannst du uns im Vorfeld eine E-Mail schreiben und nachfragen. Aber im Zweifel empfehlen wir, dass Du es einfach versuchst!
                            </p></details>
                            
                            <details><summary>
                                <strong>Kann ich auch zu Veranstaltungen außerhalb Deutschlands gehen?</strong>
                            </summary><p>
                                Auch wenn die Pläne eine Ausweitung vorsehen, sind aktuelle nur Veranstaltungen, die in Deutschland statt finden antragsfähig.
                                </p>
                                <p>
                                Reisekosten für Menschen außerhalb von Deutschland zu Veranstaltungen hierher sind aber beantragbar! 
                            </p></details>
                            
                            <details><summary>
                                <strong>Kann ich für mehrere Veranstaltungen einen Antrag stellen?</strong>
                            </summary><p>
                                Ja, Du kannst so viele Anträge stellen wie Du möchtest. Es kann aber immer nur ein Antrag pro Person gleichzeitig bearbeitet werden. 
                                </p>
                            </details>
                            
                            <details><summary>
                                <strong>Ich habe keinen Deutschen Pass, darf ich Anträge stellen?</strong>
                            </summary><p>
                                <strong>Ja!</strong>
                                </p>
                            </details>
                            <details><summary>
                                <strong>Wie reiche ich Belege ein?</strong>
                            </summary><p>
                                Grants werden auf Good-Will-Basis erteilt. Ein Nachweis über die genutzten Gelder ist nicht notwendig - weder über das Einreichen von Belegen, noch über weitere Formulare oder Berichte.
                                </p>
                                <p>
                                Jedoch freuen wir uns über ein Feedback oder Informationen nach der Veranstaltung. Insbesondere wenn es irgendwelche Dinge gibt, die wir für zukünftige ähnliche Anträge wissen sollten. Aber auch, wenn Du (im Anschluss) etwas zu den behandelten Themen auf radikal.jetzt veröffentlichen möchtest, würden wir uns sehr darüber freuen!  
                            </p></details>
                            <details><summary>
                                <strong>Can I submit my application in English? / Kann ich meinen Antrag auch auf Englisch abgeben?</strong>
                            </summary><p>
                                Yes, if you are more comfortable filling out the form in English, please do so. However, do make sure to include one sentence how it is not a problem for you to participate in whatever event you are applying for (e.g. you understand and speak german sufficient enough, but are not as confident writing it or the event is hosting in a different language anyways)
                            </p></details>
                            <details><summary>
                                <strong>Can I submit in another language? Kann ich auch in einer anderen Sprache abgeben?</strong>
                            </summary><p>
                                Sorry, but no. Aside from English and German, we can't accept any other languages at this point.
                            </p></details>
                            
                            <details><summary>
                                <strong>Super Ding, kann ich irgendwie Geld dazu geben?</strong>
                            </summary><p>
                                Bitte <a href="mailto:fund@radikal.jetzt">setzte dich mit uns in Verbinung</a>!
                                </p>
                            </details>
                            <details><summary>
                                <strong>Kann ich das Projekt anderweitig unterstüzten?</strong>
                            </summary><p>
                                Ja. Du kannst es z.B. über die Sozialen Medien verbreiten und Menschen davon erzählen. Insbesondere, wenn Du auf Menschen triffst, von denen Du glaubst, sie würden von einem Antrag hier besonders profitieren, sage ihnen <italic>drei mal</italic>, dass sie sich bewerben sollten!
                                </p>
                                <p>
                                 Gerne sprechen wir auch mit Institutionen, die Interesse daran haben könnten, den Fund auszuweiten. In dem Fall, bitte  <a href="mailto:fund@radikal.jetzt">setzt dich mit uns in Verbindung</a>! 
                            </p></details>
						</div>
					</section>
	
					<section>
						<header>
							<h2>Kontakt</h2>
						</header>
						<div class="content">
							<p>Immer auf dem Laufenden bleiben zum Radikal*Fund mit dem <strong>Radikal* Newsletter</strong>.</p>
							<form action="https://lists.radikal.jetzt/subscription/iByh6gtnb" method="GET">
								<input type="hidden" name="custom_radikalfund_updates_haxlp0piz" value=1 />
								<div class="fields">
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field half">
										<input type="submit" value="Abonnieren" class="button primary" />
									</div>
								</div>
							</form>
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="mailto:fund@radikal.jetzt">fund@radikal.jetzt</a>
								</li>
								<li>
									<h3>Folge </h3>
									<ul class="icons">
										<li><a href="https://twitter.com/radikalSternchn" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://www.instagram.com/radikal.sternchen/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://t.me/radikalSternchen" class="icon fa-telegram"><span class="label">Telegram</span></a></li>
									</ul>
								</li>
							</ul>
						</footer>
					</section>

				<!-- Copyright -->
					<div class="copyright">Eine Aktion von Radikal* (<a href="/impressum">Impressum</a>). Design: <a href="https://html5up.net">HTML5 UP</a>.</div>

			</div>

		<!-- Scripts -->
			<script src="{{asset 'html5up/js/jquery.min.js'}}"></script>
			<script src="{{asset 'html5up/js/jquery.scrolly.min.js'}}"></script>
			<script src="{{asset 'html5up/js/browser.min.js'}}"></script>
			<script src="{{asset 'html5up/js/breakpoints.min.js'}}"></script>
			<script src="{{asset 'html5up/js/util.js'}}"></script>
			<script src="{{asset 'html5up/js/main.js'}}"></script>

	</body>
</html>