<!DOCTYPE HTML>
<!--
	Paradigm Shift by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Radikal* Fund</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{asset 'html5up/css/main.css'}}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>Radikal* Fund</h1>
							<p>anti-rassistische, intersektional-queerfeministische Förderung politischer Teilhabe</p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="{{asset 'html5up/images/raising.jpg' }}" alt="" /></span>
						</div>
					</section>
				<!-- Section -->
					<section>
						<header>
							<h2>Hintergrund</h2>
						</header>
						<div class="content">
							<p>Im Herbst 2018 spülte es einen Tweet einer WoC in unsere Timeline, die fragte, ob ihr nicht jemand die Protokolle des NSU-Prozess kaufen wolle. Sie würde diese gerne durcharbeiten, aber die 80 Euro seien grad nicht drin. Kurzerhand kauften wir das Buch über ihre Amazon-Wishlist. Dabei fiel uns auf, dass dies kein Einzelfall ist. Sehr viele engagierte, junge Menschen, die aus nicht-privilegierten Verhältnissen kommen, verlinken auf Ihren Social-Media-Profilen zu Amazon-Wunschlisten. Es scheint als ganz offensichtlich einen Bedarf an Unterstützung zu geben. </p>
							<p>Darauf aufbauend kam uns die Idee, dass ein Fund, der <strong>kleinere Beträge für Bildung und Teilhabe ausgibt</strong>, die den meisten großen NGOs zu viel Aufwand sind, wahrscheinlich ein guter Hebel sind, um etwas zu verändern und Menschen in ihrer Arbeit zu unterstützen.</p>
							<span class="image main"><img src="{{asset 'html5up/images/hand-coffeetable.jpg' }}" alt="" /></span>
	
						</div>
					</section>

				<!-- Section -->
					<section id="first">
						<header>
							<h2>Zielsetzung</h2>
						</header>
						<div class="content">
							<p>Der Radikal*Fund ist ein anti-rassistischer, intersektional-queerfeministischer Fund. Wir haben ihn <strong>ins Leben</strong> gerufen,</p>
							<ul>
								<li>weil wir die ständigen Ausreden der alten, weißen Cis-Männer nicht mehr hören können,</li>
								<li>um die Repräsentanz zu steigern,</li>
								<li>damit Vielfalt lauter wird,</li>
								<li>weil “weiß” nicht mehr alleine entscheiden darf,</li>
								<li>um Herkunft als Kriterium in den Hintergrund zu stellen,</li>
								<li>weil nur Diversität die Realität widerspiegelt!</li>
							</ul>
							<p>Wir wollen, dass Menschen, die zu marginalisierten Gruppen gehören, ihr politisches Engagement nicht hinten anstellen müssen, weil sie strukturell benachteiligt werden.</p>
							<p>Wir wollen, dass allen Bildung und politische Veranstaltungen zu gleichen Teilen zugänglich ist. Und Menschen, die strukturell benachteiligt werden, nicht immer weiter abgedrängt werden. <strong>Weil es für alle wichtig ist, dass wir die Gesellschaft der alten weißen Männer ablösen.</strong> Nur 8% der Bundestagsabgeordneten haben eine Migrationsgeschichte, knapp 30% sind Frauen. Mit Tessa Ganserer in Bayern ist die erste transidente Abgeordnete in einem deutschen Landtag.</p>
							<p>Wir wollen mit diesem Fund einen Schritt in die richtige Richtung machen und die politische Welt der alten, weißen cis- Männer zu einer für alle Menschen machen. Und das schaffen wir durch Repräsentation und Teilhabe.</p>
						</div>
					</section>
					<section>
						<header>
							<h2>Event Grants</h2>
						</header>
						<div class="content">
							<p>Den Anfang macht der Radikal*Fund mit den <strong>Event Grants</strong>, einfach zu erhaltende Mikro-Grants für die Teilnahme an politischen  Veranstaltungen.</p>
							<ul class="actions">
								<li><a href="/fund/event-grants" class="button primary large">Mehr zu Event Grants</a></li>
							</ul>
						</div>
					</section>
					
					<section id="board">
						<header>
							<h2>Board</h2>
						</header>
						<div class="content">
							<p>Über die <strong>Vergabe der Gelder entscheidet das Board aus Ehrenamtlichen</strong> unabhängig und frei. Jedes Mitglied entscheidet monatlich über die gleiche Summe Geld und kann diese dann über die interne Crowdfunding Plattform <a href="https://cobudget.co" target="_blank" rel="noopen">Cobudget</a> eigenverantwortlich zuweisen und auf die eingegangenen Anträge verteilen.</p>

							<!-- Section -->
								<section>
									<header>
										<h3>Charleen</h3>
										<p></p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="{{asset 'html5up/images/gallery/fulls/01.jpg'}}" class="landscape"><img src="{{asset 'html5up/images/gallery/thumbs/01.jpg' }}" alt="" /></a>
											<a href="{{asset 'html5up/images/gallery/fulls/02.jpg'}}"><img src="{{asset 'html5up/images/gallery/thumbs/02.jpg' }}" alt="" /></a>
											<a href="{{asset 'html5up/images/gallery/fulls/03.jpg'}}"><img src="{{asset 'html5up/images/gallery/thumbs/03.jpg' }}" alt="" /></a>
										</div>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header>
										<h3>Lalon</h3>
										<p></p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="{{asset 'html5up/images/gallery/fulls/05.jpg'}}" class="landscape"><img src="{{asset 'html5up/images/gallery/thumbs/05.jpg' }}" alt="" /></a>
											<a href="{{asset 'html5up/images/gallery/fulls/06.jpg'}}"><img src="{{asset 'html5up/images/gallery/thumbs/06.jpg' }}" alt="" /></a>
											<a href="{{asset 'html5up/images/gallery/fulls/07.jpg'}}"><img src="{{asset 'html5up/images/gallery/thumbs/07.jpg' }}" alt="" /></a>
										</div>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header>
										<h3>Meliha</h3>
										<p></p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="{{asset 'html5up/images/gallery/fulls/08.jpg'}}" class="portrait"><img src="{{asset 'html5up/images/gallery/thumbs/08.jpg' }}" alt="" /></a>
											<a href="{{asset 'html5up/images/gallery/fulls/09.jpg'}}" class="portrait"><img src="{{asset 'html5up/images/gallery/thumbs/09.jpg' }}" alt="" /></a>
											<a href="{{asset 'html5up/images/gallery/fulls/10.jpg'}}" class="landscape"><img src="{{asset 'html5up/images/gallery/thumbs/10.jpg' }}" alt="" /></a>
										</div>
									</div>
								</section>

						</div>
					</section>

					<section>
						<header>
							<h3>Projekt-Koordination & Ansprechpartnerinnen</h3>
						</header>
						<div class="content">
							<div class="gallery">
								<a href="{{asset 'html5up/images/gallery/fulls/09.jpg'}}" class="portrait"><img src="{{asset 'html5up/images/gallery/thumbs/09.jpg' }}" alt="" /></a>
								<a href="{{asset 'html5up/images/gallery/fulls/10.jpg'}}" class="portrait"><img src="{{asset 'html5up/images/gallery/thumbs/10.jpg' }}" alt="" /></a>
							</div>
							<p>Der Fund wird koordiniert von Benjamin Kampmann und Lea Brunn</p>
						</div>
					</section>


					<section>
						<header>
							<h2>Weitere Fragen</h2>
						</header>
						<div class="content">
                            <details><summary>
                                <strong>Woher kommt das Geld für den Fund?</strong>
                            </summary><p>
                                Dies ist privates Geld, welches von uns persönlich eingebracht wurde und wird. Zum aktuellen Zeitpunkt gibt es weder institutionelle Förderinnen, noch Gelder aus anderen Töpfen.
                            </p></details>
                            
                            <details><summary>
                                <strong>Wieviel Geld steht zur Verfügung?</strong>
                            </summary><p>
                                Für die EventGrants stehen zu Beginn 1.000Eur pro Monat zur Verfügung, die wir frei vergeben können. Wir hoffen damit beweisen zu können, dass sich diese Investition lohnt und wir weitere Gelder einwerben können.
                            </p></details>
							
                            <details><summary>
                                <strong>Super Ding, kann ich irgendwie Geld dazu geben?</strong>
                            </summary><p>
                                Bitte <a href="mailto:fund@radikal.jetzt">setzte dich mit uns in Verbinung</a>!
                                </p>
                            </details>
                            <details><summary>
                                <strong>Kann ich das Projekt anderweitig unterstüzten?</strong>
                            </summary><p>
                                Ja. Du kannst es z.B. über die Sozialen Medien verbreiten und Menschen davon erzählen. Insbesondere, wenn Du auf Menschen triffst, von denen Du glaubst, sie würden von einem Antrag hier besonders profitieren, sage ihnen <italic>drei mal</italic>, dass sie sich bewerben sollten!
                                </p>
                                <p>
                                Gerne sprechen wir auch mit Institutionen, die Interesse daran haben könnten, den Fund auszuweiten. In dem Fall, bitte  <a href="mailto:fund@radikal.jetzt">setzt dich mit uns in Verbinung</a>!
                            </p></details>
						</div>
					</section>
					
					<section>
						<header>
							<h2>Kontakt</h2>
						</header>
						<div class="content">
							<p>Immer auf dem Laufenden bleiben zum Radikal*Fund mit dem <strong>Radikal* Newsletter</strong>.</p>
							<form action="https://lists.radikal.jetzt/subscription/iByh6gtnb" method="GET">
								<input type="hidden" name="custom_radikalfund_updates_haxlp0piz" value=1 />
								<div class="fields">
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field half">
										<input type="submit" value="Abonnieren" class="button primary" />
									</div>
								</div>
							</form>
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="mailto:fund@radikal.jetzt">fund@radikal.jetzt</a>
								</li>
								<li>
									<h3>Folge </h3>
									<ul class="icons">
										<li><a href="https://twitter.com/radikalSternchn" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://www.instagram.com/radikal.sternchen/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://t.me/radikalSternchen" class="icon fa-telegram"><span class="label">Telegram</span></a></li>
									</ul>
								</li>
							</ul>
						</footer>
					</section>

				<!-- Copyright -->
					<div class="copyright">Eine Aktion von Radikal* (<a href="/impressum">Impressum</a>). Design: <a href="https://html5up.net">HTML5 UP</a>.</div>

			</div>

		<!-- Scripts -->
			<script src="{{asset 'html5up/js/jquery.min.js'}}"></script>
			<script src="{{asset 'html5up/js/jquery.scrolly.min.js'}}"></script>
			<script src="{{asset 'html5up/js/browser.min.js'}}"></script>
			<script src="{{asset 'html5up/js/breakpoints.min.js'}}"></script>
			<script src="{{asset 'html5up/js/util.js'}}"></script>
			<script src="{{asset 'html5up/js/main.js'}}"></script>

	</body>
</html>