<!DOCTYPE HTML>
<!--
	Paradigm Shift by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Radikal* Fund :: Event Grants</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{asset 'html5up/css/main.css'}}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>Event Grants</h1>
							<p>des <a href="/fund/">Radikal*Fund</a></p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="{{asset 'html5up/images/podium-event.jpg' }}" alt="" /></span>
						</div>
					</section>
				<!-- Section -->
					<section class="first">
						<header>
							<h2>Radikal*Fund</h2>
						</header>
						<div class="content">
							<p>Im Rahmen des Radikal*Fund vergeben wir nicht zurückzahlbare Micro-Grants an Menschen mit Hintergrund um an politischen Veranstaltunge teilnehmen zu können. </p>
                            <ul class="feature-icons">
								<li class="icon fa-laptop">Direkt Online beantragen</li>
								<li class="icon fa-calendar">Antwort binnen 10 Werktagen</li>
								<li class="icon fa-calculator">Grobe Aufzählung reicht</li>
								<li class="icon fa-gear">Keine Belege nötig</li>
								<li class="icon fa-money">Bis 200Euro je Antrag</li>
							</ul>	
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Antragskriterien</h2>
						</header>
						<div class="content">
							<!-- Section -->
								<section>
									<header>
										<h3>Antragsberechtigte</h3>
										<p>Für wen stehen diese Gelder zur Verfügung?</p>
									</header>
                                    <div class="content">
                                        <p>Die Event Grants, wie der Radikal*Fund allgemein, richtet sich an Menschen, die in Deutschland-strukturell-diskriminiert und benachteiligt werden. Dieser Fund richtet sich konkret an: </p>
                                        <ul class="">
                                            <li>Sinti und Roma</li>
                                            <li>People of Color</li>
                                            <li>Women of Color</li>
                                            <li>Frauen</li>
                                            <li>Menschen nicht-männlicher Geschlechtsidentität</li>
                                            <li>etc ...</li>
                                        </ul>	
                                    </div>
								</section>

								<section>
									<header>
										<h3>Kostenübernahme</h3>
										<p>Welche Kostenübernahme kann benatragt werden?</p>
									</header>
                                    <div class="content">
                                        <ul class="feature-icons">
								            <li class="icon fa-ticket">Teilnahme-Gebühren</li>
                                            <li class="icon fa-train">Fahrkosten</li>
                                            <li class="icon fa-bed">Übernachtungskosten</li>
                                            <li class="icon fa-restaurant">Verpflegungspauschalen</li>
                                        </ul>	
                                    </div>
								</section>

								<section>
									<header>
										<h3>Veranstaltungen</h3>
									</header>
                                    <div class="content">
                                        <p>Events-Grants können für die folgenden Veranstaltungen beantragt werden</p>
                                        <ul class="">
                                            <li>Politische Bildungsangebote</li>
                                            <li>Politische Konferenzen, Workshops, Diskussionsabende, Foren</li>
                                            <li>Weiterbildungsangebote mit politischem Bezug (z.B. Präsentationscoaching)</li>
                                            <li>Ein- wie auch mehrtägige Veranstaltungen</li>
                                            <li>etc ...</li>
                                        </ul>
                                        <p>ausgeschlossen sind:</p>
                                        <ul class="">
                                            <li>Angebote kommerzieller Anbieter</li>
                                            <li>Parteiinterne- und Wahlkampfveranstaltungen</li>
                                            <li>etc...</li>
                                        </ul>
                                    </div>
								</section>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Jetzt Antrag stellen</h2>
						</header>
						<div class="content">
							<p><strong>Du möchtest zu einer politischen Veranstaltung aber kannst es dir nicht leisten?</strong> </p>
							<ul class="actions">
								<li><a href="#" class="button primary large">Antrag stellen</a></li>
								<li><a href="mailto:fund@radikal.jetzt" class="button large">in Kontakt treten</a></li>
							</ul>
						</div>
					</section>

					<section>
						<header>
							<h3>Projekt-Koordination & Ansprechpartner</h3>
						</header>
						<div class="content">
							<div class="gallery">
								<a href="{{asset 'html5up/images/gallery/fulls/09.jpg'}}" class="portrait"><img src="{{asset 'html5up/images/gallery/thumbs/09.jpg' }}" alt="" /></a>
								<a href="{{asset 'html5up/images/gallery/fulls/10.jpg'}}" class="portrait"><img src="{{asset 'html5up/images/gallery/thumbs/10.jpg' }}" alt="" /></a>
							</div>
							<p>Der Fund wird koordiniert von Benjamin Kampmann und Lea Brunn</p>
						</div>
					</section>
	
				<!-- Section -->
					<section>
						<header>
							<h2>Kontakt</h2>
						</header>
						<div class="content">
							<p>Immer auf dem Laufenden bleiben zum Radikal*Fund mit dem <strong>Radikal* Newsletter</strong>.</p>
							<form>
								<div class="fields">
									<div class="field half">
										<input type="text" name="first-name" id="first-name" placeholder="Vorname" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Abonnieren" class="button primary" /></li>
								</ul>
							</form>
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="mailto:fund@radikal.jetzt">fund@radikal.jetzt</a>
								</li>
								<li>
									<h3>Folge </h3>
									<ul class="icons">
										<li><a href="http://" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-youtube"><span class="label">Codepen</span></a></li>
									</ul>
								</li>
							</ul>
						</footer>
					</section>

				<!-- Copyright -->
					<div class="copyright">Eine Aktion von Radikal* (<a href="/impressum">Impressum</a>). Design: <a href="https://html5up.net">HTML5 UP</a>.</div>

			</div>

		<!-- Scripts -->
			<script src="{{asset 'html5up/js/jquery.min.js'}}"></script>
			<script src="{{asset 'html5up/js/jquery.scrolly.min.js'}}"></script>
			<script src="{{asset 'html5up/js/browser.min.js'}}"></script>
			<script src="{{asset 'html5up/js/breakpoints.min.js'}}"></script>
			<script src="{{asset 'html5up/js/util.js'}}"></script>
			<script src="{{asset 'html5up/js/main.js'}}"></script>

	</body>
</html>